/*
COLOR PALETTE
https://coolors.co/32292f-99e1d9-f0f7f4-70abaf-705d56
--black-coffee: #32292fff;
--middle-blue-green: #99e1d9ff;
--mint-cream: #f0f7f4ff;
--lavender-gray: #d9d2daff;
--silver-chalice: #b2aca9;
*/


/* Global styles
------------------------------------------------------------*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    color: #32292fff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5
}
a:hover {
    text-decoration: none;
}
h1, h2, h3 {
  font-family: 'Oxygen', sans-serif;
}
h1, h2 {
  margin: 0;
  text-align: center;
}
h3 {
  margin-bottom: 0;
}
h3 + p {
  font-style: italic;
}
h3 ~ p {
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* Navigation
------------------------------------------------------------*/
.navigation {
  background: #32292fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navigation ul {
  list-style-type: none; /* take away bullet points */
  margin: 0;
  padding: 5px 30px;
  display: flex; /* displays list items in a row */
  justify-content: center; /* aligns items on the main axis */
  cursor: pointer; /* change to pointer when cursor hovers */
}
.navigation a {
  padding: 15px; /* add padding between list elements */
  display: inline-block; /*allows width and height values to be applied */
  text-decoration: none; /* takes away underline */
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: #f0f7f4ff;
}
.navigation a:hover {
  opacity: 0.7
}
.logo {
  flex: 1;
  font-family: 'Oxygen', sans-serif;
  font-size: 35px;
  color: #f0f7f4ff;
  cursor: default;
}

/* Profile
------------------------------------------------------------*/
header {
  background: #99e1d9ff;
}
.introduction {
  text-align: center;
}

/* Projects
------------------------------------------------------------*/
#projects {
  background: #f0f7f4ff;
}
#projects-intro {
  text-align: center;
}
.projects-item img {
  width: 300px;
  margin-top: 30px;
}
.projects-item p {
  font-style: normal;
}
.projects-link {
  display: flex;
}

/* Professional Experience
------------------------------------------------------------*/
#professional {
  background: #b2aca9;
}

/* Leadership Experience
------------------------------------------------------------*/
#leadership {
  background: #99e1d9ff;
}

/* Education
------------------------------------------------------------*/
#eduction {
  background: #f0f7f4ff;
  }
#cornell {
  margin-bottom: 30px;
}
#cornell-logo {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}
#bhs-logo {
  height: 100px;
  width: 63px;
  margin-left: 13px;
}

/* Contact Info
------------------------------------------------------------*/
#contact {
  background: #b2aca9;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Icons
------------------------------------------------------------*/
.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

/* Copyright
------------------------------------------------------------*/
footer {
  background: #32292fff;
  color: #f0f7f4ff;
  padding: 19px;
  justify-content: center;
  text-align: center;
}

/* Responsive
------------------------------------------------------------*/
@media screen and (max-width:859px){
  .nav-item {
    display: none;
  }
}
@media screen and (min-width:860px){
  .projects-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 5px;
    margin: 50px 0px; /* add space between projects */
    background: #d9d2daff;
    padding: 30px;
    border-radius: 25px; /* round corners */
    box-shadow: 10px 10px 5px grey;
  }
}
@media screen and (min-width:630px){
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  .introduction {
    font-size: 20px;
  }
  #projects img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    column-gap: 10px;
  }
  .leadership-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }
  .education-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10px;
  }
}
