h1 {
    padding: 5rem 0rem;
    font-size: 5rem !important;
    font-weight: lighter !important;
    text-align: center;
}

.home h1 {
    color: white;
    padding: 0 !important;
    padding-top: 30vh !important;
}

.home h2 {
    color: white;
    font-size: 2rem !important;
    font-weight: lighter !important;
    padding: 2rem 0rem !important;
}