.squirrel {
    margin: 0;
    padding: 5rem;
    text-align: left;
}

.squirrel-container {
    margin: 0;
    padding: 3rem 10rem
}

@media (max-width: 800px) {
    .squirrel {
        padding: 1rem;
    }

    .squirrel-container {
        padding: 1rem 0rem;
    }
  }