.photoeditor {
    margin: 0;
    padding: 5rem;
    text-align: left;
}

.photoeditor-container {
    margin: 0;
    padding: 3rem 10rem
}

@media (max-width: 800px) {
    .photoeditor {
        padding: 1rem;
    }

    .photoeditor-container {
        padding: 1rem 0rem;
    }
  }