.portfolio {
    text-align: left;
    margin: 5rem;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .portfolio {
        margin: 1rem;
    }
    .portfolio-container {
        flex-direction: column;
    }
  }