.froggo {
    margin: 0;
    padding: 5rem;
    text-align: left;
}

.froggo-container {
    margin: 0;
    padding: 3rem 10rem
}

@media (max-width: 800px) {
    .froggo {
        padding: 1rem;
    }

    .froggo-container {
        padding: 1rem 0rem;
    }
  }