.nuprojects {
    margin: 0;
    padding: 5rem;
    text-align: left;
}

.nuprojects-container {
    margin: 0;
    padding: 3rem 10rem
}

@media (max-width: 800px) {
    .nuprojects {
        padding: 1rem;
    }

    .nuprojects-container {
        padding: 1rem 0rem;
    }
  }