.cwf {
    margin: 0;
    padding: 5rem;
    text-align: left;
}

.cwf-container {
    margin: 0;
    padding: 3rem 10rem
}

@media (max-width: 800px) {
    .cwf {
        padding: 1rem;
    }

    .cwf-container {
        padding: 1rem 0rem;
    }
  }