.experience {
    margin: 0;
    padding: 5rem;
    text-align: left;
    background-color: #f8f9fa;
}

.experience h2 {
    font-weight: lighter;
}

.experience-container {
    margin: 0;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.experience-container > * {
    margin: 1em;
  }

@media (max-width: 800px) {
    .experience {
        padding: 1rem;
    }

    .experience-container {
        padding: 1rem 0rem;
    }
  }