.about {
    text-align: left;
    margin: 5rem;
}

.about p {
    margin: 2rem;
}

.headshot {
    margin: auto;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.container2-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.container2-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

@media (max-width: 800px) {
    .about {
        margin: 1rem;
    }
    .container1 {
        flex-direction: column;
    }
  }